{% extends "layout.html" %}
{% block title %}Topic{% endblock %}
{% block content %}
    <div class="container my-4">
    <div class="row justify-content-center">
        <div class="col-12 col-md-8 text-center">
            <img id="img" class="img-fluid rounded shadow-sm mb-3" src="{{ img }}" alt="" style="height: 75vh; border: 2px solid blueviolet;">
            {{ text|safe }}
            <div class="d-flex justify-content-center gap-3">
                <button onclick="endBrainstorm(document)" id="end" class="btn btn-primary">Accept Idea</button>
                <button onclick="window.location.reload()" id="next" class="btn btn-secondary">Next Idea</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

