{% extends "gate.html" %}
{% block title %}Register{% endblock %}
{% block content %}
<div class="container mt-5 text-center">
  <h2>Register</h2>
  <form id="registerForm" class="mt-3" method="POST">
    <div class="mb-3">
      <label for="username" class="form-label">Email</label>
      <input type="text" name="username" id="username" class="form-control mx-auto w-50" placeholder="Enter email" required>
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" name="password" id="password" class="form-control mx-auto w-50" placeholder="Enter password" required>
    </div>
    <div class="mb-3">
      <label for="confirmation" class="form-label">Confirm Password</label>
      <input type="password" name="confirmation" id="confirmPassword" class="form-control mx-auto w-50" placeholder="Confirm password" required>
    </div>
    <button type="submit" class="btn btn-primary btn-primary-large">Register</button>
    <p class="mt-3">Already have an account? <a class="link-pimary" href="/login">Login here</a></p>
  </form>
</div>
{% endblock %}